@use "../../components/" as c;

/*--------------------------------------------------------------
# CONTACT SECTION --- WisePanda.fr
--------------------------------------------------------------*/

.contact{
    .map{
        margin-bottom: 40px;
        iframe{
            border:0;
            width: 100%;
            height: 400px;
        }
    }
    .info{
        padding: 40px;
        box-shadow: 0 2px 15px rgba(c.$color-default-dark, 0.1);
        overflow: hidden;
        h3{
            font-weight: 600;
            font-size: 1.5rem;
            color: c.$color-default;
        }
        p{
            color: c.$color-secondary-light;
            margin-bottom: 30px;
            font-size: 0.938rem;
        }
        .item-info{
            + .item-info{
                padding-top: 20px;
                margin-top: 20px;
                border-top: 1px solid rgba(c.$color-secondary, 0.15);
            }
            i{
                font-size: 1.5rem;
                color: c.$color-primary;
                transition: all 0.3s ease-in-out;
                margin-right: 20px;
            }
            h4{
                padding: 0;
                font-size: 1.125rem;
                font-weight: 600;
                margin-bottom: 5px;
                color: c.$color-secondary;
            }
            p{
                padding: 0;
                margin-bottom: 0;
                font-size: 0.875rem;
                color: c.$color-secondary-light;
            }
        }
    }
    .php-email-form{
        width: 100%;
        background: c.$wpfr-body-bg;
        .form-group{
            padding-bottom: 8px;
        }
        .error-message{
            display: none;
            color: c.$color-default;
            background: c.$red;
            text-align: left;
            padding: 15px;
            font-weight: 600;
            br + br {
                margin-top: 25px;
            }
        }
        .sent-message{
            display: none;
            color: c.$color-default;
            background: c.$green;
            text-align: center;
            padding: 15px;
            font-weight: 600;
        }
        .loading{
            display: none;
            background: c.$color-default;
            text-align: center;
            padding: 15px;
            &::before{
                content: "";
                display: inline-block;
                border-radius: 50%;
                width: 24px;
                height: 24px;
                margin: 0 10px -6px 0;
                border: 3px solid c.$green;
                border-top-color: c.$color-default;
                -webkit-animation: animate-loading 1s linear infinite;
                animation: animate-loading 1s linear infinite;
            }
        }
        input[type="text"], input[type="email"], textarea{
            border-radius: 0;
            box-shadow: none;
            font-size: 0.875rem;
            &:focus {
                border-color: c.$color-secondary-light;
            }
        }
        input[type="text"], input[type="email"]{
            height: 48px;
            padding: 10px 15px;
        }
        textarea{
            padding: 10px 12px;
            height: 290px;
        }
        button[type="submit"]{
            background: c.$color-primary;
            border: 0;
            padding: 13px 50px;
            color: c.$color-default;
            border-radius: 0;
            &:hover{
                background: rgba(c.$color-primary, 0.85);
            }
        }
    }
}